[submodule "git"]
	path = git
	url = git@github.com:slonopotamus/git.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:madler/zlib.git
[submodule "curl"]
	path = curl
	url = git@github.com:bagder/curl.git
[submodule "openssl"]
	path = openssl
	url = git@github.com:openssl/openssl.git
[submodule "git-htmldocs"]
	path = git-htmldocs
	url = git@github.com:gitster/git-htmldocs.git
